*{
    margin: 0;
    padding: 0;
}

body{

    font-family: Arial;
    color:white;
    background-size: cover;
  
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

header hl{
background-color: black;
border-bottom: 1px solid black;
}

ul li {
    float: left;
    width: 200px;
    height: 40px;
    background-color: orange;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
   
}

ul li a{
    color: white
}